*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner1.jpg);
}

header{
    min-height: 12vh;
}

.navbar{
    padding: 1rem;
}

.btn-nav{
    color: #d90368;
    border-color: #d90368;
    --bs-btn-hover-bg: #d90368;
    --bs-btn-hover-border-color: #d90368;
    --bs-btn-focus-shadow-rgb: 220,53,69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:#d90368;
    --bs-btn-active-border-color: #d90368;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #d90368;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #d90368;
    --bs-gradient: none;
}

.btn-nav:hover{
    color: #fff;
}

main{
    min-height: 80vh;
}

.home{
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: rgb(233, 232, 232, 0.7);
}

.first-section{
    margin: 0.5rem 3rem;
    padding: 0.5rem 2rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.checkbox{
    flex-wrap: wrap;
}

.checkbox > label{
    margin: 0 1.5rem 0 0.3rem;
}

.search{
    margin-top: 0.5rem;
}

.card-section{
    margin: 1rem 3rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-index{
    width: 18rem;
    margin-top: 1rem;
}

.card-img-top{
    height: 50%;
}

.footer-card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}

.btn-see-more, .btn-submit{
    background-color: #d90368;
    color: #fff;
}

footer{
    min-height: 8vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(233, 232, 232, 0.7);
}

.social-network, h3{
    margin: 0 4rem;
    padding: 0.5rem;
}

.fa-2xl{
    margin-left: 1.5rem;
}

.form-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    color:#fff;
    flex-direction: column;
    padding: 2.5rem;  
    border-style: solid;
    border-color: #d90368;
    border-radius: 1.5rem;
    margin: 1rem;
    width: 30rem;
    background-color: rgb(233, 232, 232, 0.3);
}

.form-group > input, textarea{
    margin-bottom: 1rem;
    border-color: #d90368;
    border-style: solid;
    border-width: 0.1rem;
}

.btn-submit{
    align-self: flex-end;
    border-radius: 0.5rem;
    width:fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    margin: 4rem 1rem 0rem 0;
}

.details{
    min-height: 70vh;
    justify-content: center;
    align-content: center;
}

.card-details{
    align-self: center;
    margin: 1rem 1rem;
    width: 50vw;
    height: auto;
    padding: 2rem;
    background-color: rgb(217, 3, 104, 0.9);
    border-radius: 1rem;
}

.img-details{
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    object-fit: cover;
}

.card-body-details{
    color: #fff;
    margin-left: 2rem;
}

.table-stats{
    width: auto;
    padding: 1.5rem;
    margin:  2rem 5rem;
    border-radius: 1rem;
    background-color: rgb(233, 232, 232, 0.3);
    flex-direction: column;
}

th, td {
    border: 1px solid black;
}

table{
    margin-bottom: 0 !important;
    background-color: #fff;
}

.table-title{
    background-color: rgb(217, 3, 104, 0.8) !important;
}